
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

@section header{
    Trang chủ}

<div class="row">
    <div class="col-lg-12">
        <img src="~/admin-thuc-pham.jpg" />
    </div>
</div>
